tiktoken
langchain-text-splitters
langchain-community
langchain-text-splitters
sentence-transformers
transformers
torch
qdrant-client
numpy 
pandas
fastapi
uvicorn
requests
python-dotenv
groq
qdrant-client
rank_bm25
pyngrok